<h1 class="home_title">Daguerreo Books</h1>

<br>

<a href="/books">
  <img class="book_icon" src="/images/book.png" alt="book icon">
</a>

<br>

<nav class="home_nav">
  <ul class="home_list">
    <li class="home_list_item"><a href="/books">Books</a></li>
    <li class="home_list_item"><a href="/authors">Authors</a></li>
    <li class="home_list_item"><a href="/books/new">Add New Book</a></li>
    <li class="home_list_item"><a href="/authors/new">Add New Author</a></li>
  </ul>
</nav>


<!-- <h2>Photo by Alfons Morales on Unsplash</h2> -->
